.button-open {
  position: absolute;
  left: 50%;
  translate: -50% 350%;
  background-color: transparent;
  border: none;
  scale: 3;
  display: block;
  cursor: pointer;
  transition: visibility 300ms ease-in-out, scale 300ms ease-in-out;
}
.button-clouse {
  @extend .button-open;
  translate: -50% 150%;
}
.icon-open-menu {
  fill: rgb(229, 190, 190);
  transition: fill 300ms ease-in-out;
  &:hover,
  &:focus {
    fill: aqua;
  }
}
.icon-clouse-menu {
  @extend .icon-open-menu;
}

.is-hidden {
  scale: 0;
  visibility: hidden;
}
