* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(124, 2, 2);
  animation: changeBgColor 4000ms linear infinite alternate both;
}
@keyframes changeBgColor {
  0% {
    background-color: rgb(39, 13, 6);
  }

  50% {
    background-color: rgb(64, 19, 7);
  }

  100% {
    background-color: rgb(91, 28, 10);
  }
}
