ul {
  position: absolute;
  left: 50%;
  translate: -50%;
}
li {
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  scale: 0;
  visibility: hidden;
}
.open-agency {
  background-color: rgb(0, 229, 255);
  animation: moveElementFirst 2000ms ease-in-out normal both;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(123, 233, 245);
  }
}
@keyframes moveElementFirst {
  0% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
  20% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  80% {
    scale: 1;
    translate: -50% 80%;
    visibility: visible;
  }
  90% {
    scale: 1;
    translate: -50% 70%;
    visibility: visible;
  }

  100% {
    scale: 1;
    translate: -50% 80%;
    visibility: visible;
  }
}
.clouse-agency {
  background-color: rgb(0, 229, 255);
  animation: hideElementFirst 2000ms ease-in-out normal both;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(123, 233, 245);
  }
}
@keyframes hideElementFirst {
  0% {
    scale: 1;
    translate: -50% 80%;
    visibility: visible;
  }
  10% {
    scale: 1;
    translate: -50% 70%;
    visibility: visible;
  }

  60% {
    scale: 1;
    translate: -50% 80%;
    visibility: visible;
  }
  80% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  100% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
}

.open-portfolio {
  background-color: rgb(0, 251, 255);
  animation: moveElementSecond 2000ms ease-in-out normal both;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(134, 244, 246);
  }
}
@keyframes moveElementSecond {
  0% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
  20% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  80% {
    scale: 1;
    translate: -50% 190%;
    visibility: visible;
  }
  90% {
    scale: 1;
    translate: -50% 180%;
    visibility: visible;
  }

  100% {
    scale: 1;
    translate: -50% 190%;
    visibility: visible;
  }
}

.clouse-portfolio {
  background-color: rgb(0, 251, 255);
  animation: hideElementSecond 2000ms ease-in-out normal both;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(134, 244, 246);
  }
}
@keyframes hideElementSecond {
  0% {
    scale: 1;
    translate: -50% 190%;
    visibility: visible;
  }
  10% {
    scale: 1;
    translate: -50% 180%;
    visibility: visible;
  }
  60% {
    scale: 1;
    translate: -50% 190%;
    visibility: visible;
  }
  80% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  100% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
}
.open-contact {
  background-color: rgb(0, 255, 221);
  animation: moveElementThird 2000ms ease-in-out normal both;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(132, 247, 232);
  }
}
@keyframes moveElementThird {
  0% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
  20% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }
  80% {
    scale: 1;
    translate: -50% 300%;
    visibility: visible;
  }
  90% {
    scale: 1;
    translate: -50% 290%;
    visibility: visible;
  }

  100% {
    scale: 1;
    translate: -50% 300%;
    visibility: visible;
  }
}
.clouse-contact {
  background-color: rgb(0, 255, 221);
  animation: hideElementThird 2000ms ease-in-out normal both;
  transition: background-color 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: rgb(132, 247, 232);
  }
}
@keyframes hideElementThird {
  0% {
    scale: 1;
    translate: -50% 300%;
    visibility: visible;
  }
  10% {
    scale: 1;
    translate: -50% 290%;
    visibility: visible;
  }
  60% {
    scale: 1;
    translate: -50% 300%;
    visibility: visible;
  }
  80% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  100% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
}
