ul {
  position: absolute;
  left: 50%;
  translate: -50%;
}
li {
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  visibility: hidden;
  &:nth-child(1) {
    background-color: rgb(0, 229, 255);
  }
  &:nth-child(2) {
    background-color: rgb(0, 251, 255);
  }
  &:nth-child(3) {
    background-color: rgb(0, 255, 221);
  }
}
.open-agency {
  animation: moveElementFirst 2000ms ease-in-out normal both;
}
@keyframes moveElementFirst {
  0% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
  20% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  40% {
    scale: 1;
    translate: -50% 90%;
    visibility: visible;
  }
  60% {
    scale: 1;
    translate: -50% 90%;
    visibility: visible;
  }
  80% {
    scale: 1;
    translate: -50% 90%;
    visibility: visible;
  }
  90% {
    scale: 1;
    translate: -50% 80%;
    visibility: visible;
  }

  100% {
    scale: 1;
    translate: -50% 90%;
    visibility: visible;
  }
}
.open-portfolio {
  animation: moveElementSecond 2000ms ease-in-out normal both;
}
@keyframes moveElementSecond {
  0% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
  20% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }
  60% {
    scale: 1;
    translate: -50% 200%;
    visibility: visible;
  }
  80% {
    scale: 1;
    translate: -50% 200%;
    visibility: visible;
  }
  90% {
    scale: 1;
    translate: -50% 190%;
    visibility: visible;
  }

  100% {
    scale: 1;
    translate: -50% 200%;
    visibility: visible;
  }
}
.open-contact {
  animation: moveElementThird 2000ms ease-in-out normal both;
}
@keyframes moveElementThird {
  0% {
    scale: 0;
    translate: -50% 0;
    visibility: hidden;
  }
  20% {
    scale: 1;
    translate: -50% 0;
    visibility: visible;
  }

  80% {
    scale: 1;
    translate: -50% 310%;
    visibility: visible;
  }
  90% {
    scale: 1;
    translate: -50% 300%;
    visibility: visible;
  }

  100% {
    scale: 1;
    translate: -50% 310%;
    visibility: visible;
  }
}
